*{
	text-align: center;
}

li{
	text-align: left;
}

input{
	display: inline-block;
}

#catsName{
	font-size: 200%;
	text-align: center;
}

#catsImage{
	height: 350px;
	margin: auto;
	display: block;
}

#catsListContainer{
	width: 30%; 
	float: right; 
	border: 2px solid blue;	
	background-color: grey;
}

#catsPictureContainer{
	width:60%; 
	height:500px; 
	float:left; 
	border: 2px solid red;
}

#adminArea{
	width: 20%; 
	float: right; 
	margin-top: 100px;
	border: 2px solid #00CD00;
	color: #00CD00;	
	background-color: black;	
	padding: 10px;
}

#adminButton{
	float: right;
	border: 2px solid black;
	margin-right: 10%;
	margin-top: 20px;
}